html {
    scroll-behavior: smooth;
}
*, *::before, **::after{
    box-sizing: border-box;
}

/* Estilos generales */

* {
    font-family: Outfit;
    margin: 0;
    padding: 0;
}

header {
    --bg-image: url(img/equipo-videojuegos-futurista-iluminado-ia-generativa-discoteca.jpg);
    --bg-image-brightness: 50%;

    background-color: #000123;
    position: relative;
    display: flex;
    justify-content: center;
    isolation: isolate;

}
header::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;

    filter: brightness(var(--bg-image-brightness));
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;

    /* box-shadow: inset 0px -10px 10px -10px rgba(0, 1, 35 , 0.2), 0px -10px 10px -10px rgba(0, 1, 35 , 0.4);  */
}
svg {
    position: absolute;
    bottom: 0;
    border-bottom: 3px solid #000123;
}


.logo {
    font-size: 28px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1rem;
}

.seccion {
    padding: 48px 20px;
    height: 100vh;
    width: 100vw;
}

footer {
    background-color: #020202;
    color: #f2f2f2;
    padding: 10px 20px;
    text-align: center;
}

/* Estilos específicos */

#contenido {
    background-color: rgb(0, 1, 35);
}

#nosotros {
    background-color: #000123;
}

#contacto {
    background-color: #000123;
}

h1 {
    color: #FF0F7B;
}


  

  
